@font-face {
    font-family: 'Vazir';
    src: url(../fonts/Vazir-FD.5fa67fc.woff2);
}

body {
    font-family: 'Vazir';
    font-size: .857rem;
    font-weight: 400;
    line-height: 1.75;
    color: #343a40;
    direction: rtl;
    background-color: #eff1f4;
}

.col,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-12,
.col-md,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9 {
    padding-right: .5rem;
    padding-left: .5rem;
}

.container,
.container-fluid {
    padding-right: .5rem;
    padding-left: .5rem;
}

.bg-success {
    background-color: #99b628!important;
}

.bg-danger {
    background-color: rgb(250, 60, 68)!important;
}

.bg-dark {
    background-color: #1b222e!important;
}

.navbar-nav {
    padding-inline-start: 0;
}

.border-animation:after {
    display: block;
    content: "";
    border-bottom: 2px solid #e98501;
    transform: scaleX(0);
    transition: transform .5s ease;
}

.nav-item a:hover {
    color: #e98501!important;
}

.grey-text {
    color: #a7b2bd;
}

.grey-border {
    border-top: 1px solid rgba(167, 165, 165, 0.1);
}

.left-grey-border {
    border-left: 1px solid rgba(167, 165, 165, 0.1);
}

.icons .col-auto img {
    filter: grayscale(100%);
}

img {
    border-radius: 4px;
}

.icons .col-auto img:hover {
    filter: grayscale(0);
}

.namad .bg-white {
    width: 90px;
    height: 90px;
    margin: auto;
}

.border-animation:hover:after {
    transform: scaleX(1);
}

a {
    color: black;
}

a:hover {
    color: black;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1443px;
    }
}

.mainlogo {
    height: 50px;
}

a:hover {
    text-decoration: none;
}

.header-icon {
    width: 30px;
    height: 30px;
}

.discount-value:after {
    content: "";
    width: 80%;
    height: 1px;
    position: absolute;
    transform: rotate( -15deg)!important;
    right: 0!important;
    left: 0;
    top: 40%;
    background-color: rgb(250, 60, 68);
}

.suggested-carousel .VueCarousel article{
    border-left: 1px solid lightgrey;
}

.VueCarousel {
    direction: ltr;
}

.sidebar .row{
    margin-left: 0;
}
.VueCarousel article:hover {
    background-image: linear-gradient( 180deg, transparent 70%, #e9ecef);
    background-repeat: repeat-x;
}

.VueCarousel .card-body p {
    min-height: 50px;
}

.orange-border-top {
    border-top: 5px solid #e98501;
}

.red-border-top {
    border-top: 5px solid rgb(250, 60, 68);
}

.VueCarousel .card {
    border: none;
}
.category img{
    width: 191.167px; 
    margin-left: 55px
}

.carousel {
    padding:0 0.5rem;
    display: block;
}

.blink {
    animation: blink 2s infinite;
}

@keyframes blink {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

ul li {
    list-style-type: none;
    line-height: 3;
}

ul {
    padding-inline-start: 0;
}

.navbar {
    padding: 0.5rem 0;
}

footer {
    font-size: 90%;
}

footer  a {
    color: #a7b2bd;
}
p {
text-align: justify;
}

footer a:hover {
    color: #e98501;
}

@media (max-width: 800px) {
    .namad .bg-white {
        width: 50px;
        height: 50px;
    }
    .VueCarousel .card-body {
        min-height: 258px;
    }
    .suggested-img {
        width: 100%;
    }
}